@model WhoIsWho.Models.Game

@{
    ViewBag.Title = "Crear una partida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear una partida</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Introduce un nombre para la partida
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Ver las partidas en curso", "Index")
</div>
